*{
    margin: 0;
    padding: 0;
    direction: rtl;
   
   }
   body{
    
      font-family:tajawal,sans-serif;
   
   }
   header{
       display: flex;
       justify-content:first baseline;
       list-style: none;
       margin: 20px;
       height: auto;  
       border-bottom:3px solid  blue;
       margin-bottom: 10px;
       background-color: rgb(245, 224, 197);
      position:sticky;
      top: 0;
      left: 0;
      width: 100%;
   }
   .logo{
       margin-left:  10px ;
     
   }
   .logo .imgelogo{
       border: 5px solid rgb(243, 160, 130);
       width: 100px;
       border-radius: 100px ;
       text-align: left;
       margin-right:200px;
   }
   ul{
       list-style-type: none;
      
       margin-top:50px;
       margin-right: 10px;
   
       text-align: center;
   }
   ul li{
       display: inline-block;
       margin-right: 30px;
       margin-right: 20px;
       transform:translateX (-20px);
       transition: 0.3s ease-in-out;
   }
   ul li a{
       text-decoration: none;
       padding: 5px 10px ;
       color:black;
       font-family: 'tajawal',sans-serif;
       font-size:large;
       font-weight: bold;
       border-radius: 15px;
   }
   ul li a:hover{
       background-color: yellow ;
       transform: translateX(0);
   }
  
   .one{
      
       font-family: 'tajawal',sans-serif;
       text-align: center;
       border-bottom: blue solid 2px;
       border-radius: 80px;
       
   }
   .she{
       text-align: center;
       width: 10%;
   }
   .tases{
       font-size: x-large;
       font-family: 'tajawal',sans-serif;
   }
   .imgse img{
    background-size: cover;
    border-radius: 20px;
   width: 800px;
   height: 300px;
   padding-bottom: 20px;
   }
   footer{
    display: flex;
    margin-top: 120px;
    margin-right: 20px;
   justify-content: space-between;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'tajawal',sans-serif;
   
    border-bottom: 3px solid blue;
    background-color: rgb(245, 224, 197);
    padding: 20px;
    
   
}
.tel{
    font-family: 'tajawal',sans-serif;
    font-weight: bold;
    color: black;
    font-size:large;
    margin-top: 2px;

}
span{
    color:black;
    font-size:large;
    font-family: 'tajawal',sans-serif;
}
.socal{
    display: inline-block;
    color:black;
    font-weight: bold;
    font-size:large;
    margin-left: 20px;
    font-family: 'tajawal',sans-serif;
    
}


a{
    margin-left: 20px;
    font-family: 'tajawal',sans-serif;
}
  i{
 
    width: 10px;
    font-size: 20px;
    padding: 10px;
    color: blue;
    font-family: 'tajawal',sans-serif;
}
.two{
    text-align: center;
    font-family: 'tajawal',sans-serif;
    font-size: x-large;
    border-bottom: solid blue 2px;
    padding-bottom: 20px;
    border-radius:80px;
}
.img2{
    margin: 10px;
    padding: 10px;
}
.imgs2 img{
    border-radius: 10px;
    justify-content: space-between;
}
.im1{
    margin-left: 20px;
}
.im2{
    margin-right: 20px;
}
.three{
    text-align: center;
    font-family: 'tajawal',sans-serif;
    font-size: x-large;
    border-bottom: solid blue 2px;
    padding-bottom: 20px;
    border-radius:80px;

}
.end{
    text-align:center;
    margin-top: 50px;
}